#full_bar {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    height: 60px;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
}

.gain_element {
    background-color: rgba(55, 110, 55, 0.7);
}

.loss_element {
    background-color: rgb(161, 37, 37, 0.7);
}

.bar {
    margin: 0 2px 0 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    height: 100%;
    cursor: pointer;
}

/* we need to override the inline styles with an !important */
.bar:hover{
    flex: 2 !important;
}

/* https://www.w3schools.com/css/css_image_transparency.asp */
.gain_element:hover {
    background-color: rgba(55, 110, 55, 1);
}

.loss_element:hover {
    background-color: rgba(161, 37, 37, 1);
}

.bar::after {
    content: attr(data-id);
    margin: auto;
    text-align: center;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s linear;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: medium;
    font-weight: 550;
}

.bar:hover::after {
	opacity: 1;
	width: auto;
	visibility: visible;
}

.loss_title {
    color: rgb(161, 37, 37);
}

.gain_title {
    color: rgb(55, 110, 55);
}