#full_bar {
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: stretch
}

.gain_element {
    background-color: rgb(90, 255, 90);
    margin: 0 2px 0 0;
}

.loss_element {
    background-color: rgb(255, 90, 90);
    margin: 0 2px 0 0;
}