{% extends "layout.html" %}

{% block title %}Add{% endblock %}
{% block main %}
<h1 class="display-4">Add Shares to a Portfolio</h1>
<br>
<form id="form" action="/add" method="post">
    {% for row in names %}
        <input class="checkbox_radio" type="radio" id='{{ row[0] }}' name="portfolio_name" value='{{ row[0] }}'>
        <label for='{{ row[0] }}'><h3>{{ row[0] }}</h3></label>
        <br>
    {% endfor %}
    <br>
    <!-- https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/ -->
    <p class="pagetext" id="link">This application is limited to only support these symbols.
        <br>
        <a href="https://iextrading.com/trading/eligible-symbols/" target="_blank" rel="noopener noreferrer">https://iextrading.com/trading/eligible-symbols/</a>
    </p>
    <br>
    <div class="form-group">
        <label for="symbol"><b>What is the symbol of the stock?</b></label><br>
        <input autocomplete="off" class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="form-group">
        <!-- https://www.techiedelight.com/restrict-html-input-text-box-to-allow-only-numeric-values/ -->
        <label for="purchase_quantity"><b>How many did you purchase?</b></label><br>
        <input autocomplete="off" class="form-control" name="purchase_quantity" placeholder="Quantity" type="number" min="1">
    </div>
    <div class="form-group nativeDatePicker">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
        <label for="purchase_date"><b>When did you purchase?</b></label><br>
        <a href="#" data-toggle="tooltip" data-placement="left" title="For days where the exchanges are closed, we will take the price from the nearest trading day.">
        <input id="date1" autocomplete="off" class="form-control" name="purchase_date" min={{ min_date }} max={{ today }} type="date">
        </a>
    </div>
    <div class="form-group fallbackDatePicker">
        <label for="fallback_purchasedate"><b>When did you purchase?</b></label>
        <br>
        <input autocomplete="off" class="form-control" name="fallback_purchasedate" placeholder="YYYY-MM-DD" type="text">
        <br><br><br>
        <p class="pagetext">For days where the exchanges are closed, we will take the price from the nearest trading day.</p>
    </div>
    <br>
    <br>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button -->
    <!-- https://stackoverflow.com/a/21376901 -->
    <div id="outer">
        <button class="inner btn btn-primary" type="submit" name="submit" value="single">Submit</button>
        <button class="inner btn btn-primary" type="submit" name="submit" value="more">Submit and Add another</button>
    </div>
</form>

<script src="/static/add.js"></script>
<script src="/static/tooltip.js"></script>

{% endblock %}