{% extends "layout.html" %}

{% block title %}Create{% endblock %}
{% block create %}active{% endblock %}
{% block main %}
    <h1>Create a New Portfolio</h1>
    <br>
    <form id="form" action="/create" method="post">
        <div class="form-group">
            <label for="portfolio_name"><b>Choose a name for your portfolio:</b></label><br>
            <input autocomplete="off" autofocus class="form-control" name="portfolio_name" placeholder="MyPortfolio" type="text">
        </div>
        <button class="inner btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}