{% extends "layout.html" %}

{% block title %}Create{% endblock %}
{% block create %}active{% endblock %}
{% block main %}
<h1>Create</h1>
<br>
<form action="/create" method="post">
    <div class="form-group">
        <label for="portfolio_name">Choose a name for your portfolio:</label><br><input autocomplete="off" autofocus class="form-control" name="portfolio_name" placeholder="MyPortfolio" type="text">
    </div>
    <br>
    <h4>Please add your first stock below before creating</h4>
    <br>
        <p>This application is limited to only support these symbols<br><a href="https://iextrading.com/trading/eligible-symbols/">https://iextrading.com/trading/eligible-symbols/</a></p>
    <br>
    <div class="form-group">
        <label for="symbol">What is the symbol of the stock?:</label><br><input autocomplete="off" class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="form-group">
        <!-- https://www.techiedelight.com/restrict-html-input-text-box-to-allow-only-numeric-values/ -->
        <label for="purchase_quantity">How many did you purchase?:</label><br><input autocomplete="off" class="form-control" name="purchase_quantity" placeholder="Quantity" type="number" min="1">
    </div>
    <div class="form-group">
        <label for="purchase_date">When did you purchase?:</label><br><input autocomplete="off" class="form-control" name="purchase_date" value={{ today }} max={{ today }} type="date">
    </div>
    <br>
    <br>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button -->
    <button class="btn btn-primary" type="submit" name="submit" value="create">Create Portfolio</button>
    &nbsp&nbsp&nbsp
    <button class="btn btn-primary" type="submit" name="submit" value="add">Add more stocks</button>
</form>
{% endblock %}