{% extends "layout.html" %}

{% block title %}Create{% endblock %}
{% block create %}active{% endblock %}
{% block main %}
<h1>Create</h1>
<br>
<form id="form" action="/create" method="post">
    <div class="form-group">
        <label for="portfolio_name"><b>Choose a name for your portfolio:</b></label><br>
        <input autocomplete="off" autofocus class="form-control" name="portfolio_name" placeholder="MyPortfolio" type="text">
    </div>
    <br>
    <h4>Please add your first stock below before creating:</h4>
    <!-- https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/ -->
    <p id="link">This application is limited to only support these symbols.<br>
        <a href="https://iextrading.com/trading/eligible-symbols/" target="_blank" rel="noopener noreferrer">https://iextrading.com/trading/eligible-symbols/</a>
    </p>
    <br>
    <div class="form-group">
        <label for="symbol"><b>What is the symbol of the stock?</b></label><br>
        <input autocomplete="off" class="form-control" name="symbol" placeholder="Symbol" type="text">
    </div>
    <div class="form-group">
        <!-- https://www.techiedelight.com/restrict-html-input-text-box-to-allow-only-numeric-values/ -->
        <label for="purchase_quantity"><b>How many did you purchase?</b></label><br>
        <input autocomplete="off" class="form-control" name="purchase_quantity" placeholder="Quantity" type="number" min="1">
    </div>
    <div class="form-group nativeDatePicker">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
        <label for="purchase_date"><b>When did you purchase?</b></label><br>
        <input id="date1" autocomplete="off" class="form-control" name="purchase_date" min={{ min_date }} max={{ today }} type="date">
        <br><br><p>For days where the exchange is closed, we will take the price from the nearest trading day.</p>
    </div>
    <div class="form-group fallbackDatePicker">
        <label for="fallback_purchasedate">When did you purchase?</label><br>
        <input autocomplete="off" class="form-control" name="fallback_purchasedate" placeholder="YYYY-MM-DD" type="text">
        <br><br><p>For days where the exchange is closed, we will take the price from the nearest trading day.</p>
    </div>
    <br>
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/button -->
    <!-- https://stackoverflow.com/a/21376901 -->
    <div id="outer">
        <button class="inner btn btn-primary" type="submit" name="submit" value="create">Create Portfolio</button>
        <button class="inner btn btn-primary" type="submit" name="submit" value="add">Add more stocks</button>
    </div>
</form>

<script src="/static/create.js"></script>

{% endblock %}