{% extends "layout.html" %}

{% block title %}Delete{% endblock %}
{% block main %}
<h1>Delete</h1>
<br>
<form action="/delete" method="post">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox -->
    {% for row in names %}
        <input type="checkbox" id='{{ names[0]["porfolio_name"] }}' name="portfolio" value='{{ names[0]["porfolio_name"] }}'>
        <label for='{{ names[0]["porfolio_name"] }}'>{{ names[0]["porfolio_name"] }}</label>
    {% endfor %}
    <button id="button" class="btn btn-primary" type="submit" disabled>Delete</button>
</form>

<script src="/static/delete.js"></script>

{% endblock %}