{% extends "layout.html" %}

{% block title %}Delete{% endblock %}
{% block main %}
<h1 class="display-4">Delete a Portfolio</h1>
<br>
<br>
<form action="/delete" method="post">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox -->
    {% for row in names %}
        <input class="checkbox_radio" type="checkbox" id='{{ row[0] }}' name="portfolio" value='{{ row[0] }}'>
        <label for='{{ row[0] }}'><h3>{{ row[0] }}</h3></label>
        <br>
    {% endfor %}
    <br>
    <button id="button" class="btn btn-primary" type="submit" disabled>Delete</button>
</form>

<script src="/static/delete.js"></script>

{% endblock %}