{% extends "layout.html" %}

{% block title %}Error{% endblock %}
{% block main %}
<h1 class="display-4">Whoops! You've encountered an error.</h1>
<br>
<div id="errordiv">
  <h5>{{ message }}.</h5>
</div>
<br>
<h5>Error code: {{ code }}</h5>
<br>
<!-- https://www.w3schools.com/jsref/met_his_back.asp -->
<button class="btn btn-primary"onclick="goBack()">Previous page</button>
<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock %}
<!-- https://flask.palletsprojects.com/en/2.0.x/errorhandling/ 
     Error page for a complete user path
-->