{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
    {% if no_portfolios == True %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to MyPortfolios!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas egestas orci eleifend tempor.</p>
            <hr class="my-4">
            <p>Curabitur mollis ac velit quis porta. Morbi quis purus eget quam efficitur aliquet. Etiam sit amet felis placerat, consequat neque sagittis, consequat tortor. Morbi sagittis, arcu at ullamcorper auctor, justo ante pretium elit, sed imperdiet neque diam non enim. Fusce dignissim pretium libero, at interdum odio fringilla nec. Cras ac turpis at purus porttitor fringilla vel vitae ex. Phasellus et augue id dui porttitor dictum sit amet vulputate felis. Etiam ex lectus, efficitur blandit sagittis non, condimentum sit amet dolor. Morbi tristique efficitur viverra.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/create" role="button">Get Started!</a>
            </p>
        </div>
    {% else %}
        <h1>My portfolios</h1>
        <br>
        <ul style="list-style-type:none;">
            <!-- https://flask.palletsprojects.com/en/2.0.x/quickstart/#url-building -->
            {% for row in names %}
                <li href="/myportfolios/<{{ row[portfolio_name] }}>">{{ row[portfolio_name] }}</li>
            {% endfor %}
        </ul>

        <div id="outer">
            <button class="inner btn btn-primary" href="/create">Create a new portfolio</button>
            <button class="inner btn btn-primary" href="/delete">Delete a portfolio</button>
        </div>
    {% endif %}
{% endblock %}