{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
    {% if no_portfolios == True %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome to MyPortfolios!</h1>
            <p class="pagetext lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas egestas orci eleifend tempor.</p>
            <hr class="my-4">
            <p class="pagetext">Curabitur mollis ac velit quis porta. Morbi quis purus eget quam efficitur aliquet. Etiam sit amet felis placerat, consequat neque sagittis, consequat tortor. Morbi sagittis, arcu at ullamcorper auctor, justo ante pretium elit, sed imperdiet neque diam non enim. Fusce dignissim pretium libero, at interdum odio fringilla nec. Cras ac turpis at purus porttitor fringilla vel vitae ex. Phasellus et augue id dui porttitor dictum sit amet vulputate felis. Etiam ex lectus, efficitur blandit sagittis non, condimentum sit amet dolor. Morbi tristique efficitur viverra.</p>
            <p class="pagetext lead">
            <br>
                <a class="btn btn-primary btn-lg" href="/create" role="button">Get Started!</a>
            </p>
        </div>
        <!-- 
            <p> Welcome to MyPortfolios, a simple web application that emphasises the
            visualisation of stock portfolios with the goal of enhancing the user experience
            through better decisions and better user satisfaction.
            
            Once registered you have the freedom to create or replicate portfolios as you wish
            The application contacts the iexcloud API to display current information on the value of your portfolios
            
            </p>
        -->
    {% else %}
        <h1 class="display-4">List of Portfolios</h1>
        <br>
        <br>
        <!-- https://flask.palletsprojects.com/en/2.0.x/quickstart/#url-building -->
        <form action="/" method="post">
            {% for row in portfolios %}
                <button class="btn btn-outline-primary btn-lg" type="submit" name="portfolio_name" value="{{ row[0] }}">
                    {{ row[0] }}
                </button>
                <br>
                <br>
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}