<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- https://stackoverflow.com/questions/33767533/what-does-the-shrink-to-fit-viewport-meta-attribute-do -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href ="/static/favicon.ico" rel="icon">

        <!-- TODO merge portfolio_styles.css with/or new styles.css -->
        <link href="/static/portfolio_styles.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

        <!-- http://getbootstrap.com/docs/4.1/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://www.w3schools.com/icons/fontawesome_icons_intro.asp -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- bootstrap dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>{% block title %}{% endblock %} - MyPortfolios</title>
    </head>
    
    <body>
        <!-- https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ -->
        <div id="page-container">
            <div id="content-wrap">
                <nav class="nav navbar-expand-md fixed-top navbar-dark text-white" style="background-color: #021431;">
                    <a id="navbarlogo" class="navbar-brand ml-3 mb-1" href="/">MyPortfolios</a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#target" aria-controls="target" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <!-- https://stackoverflow.com/questions/50028673/changing-active-class-in-bootstrap-navbar-not-staying-in-inherited-django-template -->
                    <div class="collapse navbar-collapse" id="target">
                        {% if session.user_id %}
                            <ul class="navbar-nav mr-auto pl-5">
                                <li class="navbar-item"><a class="nav-link {% block create %}{% endblock %}" href="/create">Create</a></li>
                                <li class="navbar-item"><a class="nav-link {% block add %}{% endblock %}" href="/add">Add</a></li>
                                <li class="navbar-item"><a class="nav-link {% block delete %}{% endblock %}" href="/delete">Delete</a></li>
                            </ul>
                            <ul class="navbar-nav ml-auto pl-3">
                                <li class="nav-item"><a class="nav-link {% block account %}{% endblock %}" href="/account">Account</a></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ml-auto pl-3">
                                <li class="nav-item"><a class="nav-link {% block login %}{% endblock %}" href="/login">Log in</a></li>
                                <li class="nav-item"><a class="nav-link {% block register %}{% endblock %}" href="/register">Register</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </nav>
                <!-- https://www.youtube.com/watch?v=qbnqNWXf_tU for loop multiple flashed messages for msg in get_flashed_messages() -->
                <!-- https://getbootstrap.com/docs/4.0/components/alerts/ -->
                <!-- https://stackoverflow.com/questions/42947983/bootstrap-navbar-fixed-top-class-not-working -->
                

                <!-- Support for Multiple flashed messages which have separate buttons -->
                <!-- https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->
                <!-- Can change categories depending on the messages I want to show -->
                <!-- Flash message categories source: https://www.youtube.com/watch?v=lcVdZtVvnnk -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <header>
                            {% for category, message in messages %}
                                {% if category == "success" %}
                                    <div class="alert alert-success border text-center fade show" role="alert">
                                        {{ message }}&ensp;
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif category == "primary" %}
                                    <div class="alert alert-primary border text-center fade show" role="alert">
                                        {{ message }}&ensp;
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </header>
                    {% endif %}
                {% endwith %}
                <br>
                <main class="container-p5">

                    {% block main %}{% endblock %}

                    <!-- https://github.com/whatwg/html/issues/5312 -->
                    <script src="/static/disabled.js"></script>
                    
                </main>
            </div>

            <footer class="footer small text-center text-light">
                Data provided for free by <a href="https://iextrading.com/developers">IEX</a>. View <a href="https://iexcloud.io/terms/">IEX’s Terms of Use</a>.
            </footer>
        </div>
    </body>
</html>