{% extends "layout.html" %}

{% block title %}{{ portfolio_name }}{% endblock %}
{% block main %}
<h1>{{ portfolio_name }}</h1>
<br>
<div id="full_bar">

    <!--
        Problems deciding how the divs are scaled
        If the gain_loss that is largest is always the same size on the screen will it look strange?
        A loss of 10% and a gain of 1000% will look the same drawn on the page if they are the largest items
        Not if the user is comparing only against a single portfolio at once
        Why could it be good?
        Excessively small/large gains/losses in a single portfolio look odd/not visible to the user
        but also the largest gain or loss is the most important detail to the user in tracking his/her progress
        From application.py:
        1 sorted arrays of objects, x
            which contain key ID for the transaction in sharedate form
            and gain_loss in $
        The largest gain_loss in $ form, y

        What the functions do:
        Displays all the results visually of a portfolio first separated by gain or loss
        then ordered by most to least gained/lost
        by creating empty divs all scaled to a parent (which is the largest gain/loss 
        which has width 50%) to show relative performance
        all div elements are uniquely identified and still retain their $ gain/loss
    -->

    <div id="gain">
        {% for i in x %}
            <div class="gain_element" id="{{ i['unique_id'] }}" style="width: {{ round(l, 1) }}%;"></div>
        {% endfor %}
    </div>

    <div id="loss">
        {% for i in x %}
            <div class="loss_element" id="{{ i['unique_id'] }}" style="width: {{ round(l, 1) }}%;"></div>
        {% endfor %}
    </div>
    <!-- If gain or loss: Scale to the largest element, y. l = (k/y)*50 -->
</div>
{% endblock %}