{% extends "layout.html" %}

{% block title %}{{ portfolio_name }}{% endblock %}
{% block main %}
<h1 class="display-1">{{ portfolio_name }}</h1>
<br>
<h3>Net Profit at today's prices:</h3>
<br>
{% if net_overall < 0 %}
    <div>
        <span class="inner fa fa-caret-down fa-2x"></span>
        &nbsp&nbsp<h2 class=" inner loss_title">{{ net_overall | usd }}</h2>
    </div>
    <br>
    <div>
        <span class="inner fa fa-caret-down fa-2x"></span>
        &nbsp&nbsp&nbsp<h2 class="inner loss_title">{{ net_overallpercent }}%</h2>
    </div>
{% else %}
    <div>
        <span class="inner fa fa-caret-up fa-2x"></span>
        &nbsp&nbsp<h2 class=" inner gain_title">{{ net_overall | usd }}</h2>
    </div>
    <br>
    <div>
        <span class="inner fa fa-caret-up fa-2x"></span>
        &nbsp&nbsp&nbsp<h2 class="inner gain_title">{{ net_overallpercent }}%</h2>
    </div>
{% endif %}
<br>
<br>
<div id="full_bar">
    <!--
        Problems deciding how the divs are scaled

        Since we are scaling off the largest gain/loss in a users portfolio the parent
        element always appears the same size on the page which could be problematic

        Using absolute sizing, extreme gains/losses could look odd/not visible to the user
        
        The largest gain or loss is arguably the most important detail to 
        the user in tracking their relative portfolio progress

        For each element in x: if gain key was assigned, group with gain elements, style color green
        else style red for loss. Create new attribute data-id, manipulate a string using slicing/concatenation for use in CSS
    -->
    {% for i in x %}
        {% if i["percentage"] > 0 %}
            <div class="bar gain_element" data-link="{{ '/share/' + i['unique_id'] }}" data-id="{{ (i['unique_id'])[:-8] + ' +' + str(i['percentage']) + '%' }}" style='flex: {{ i["net"] }};'></div>
        {% else %}
            <div class="bar loss_element" data-link="{{ '/share/' + i['unique_id'] }}" data-id="{{ (i['unique_id'])[:-8] + ' ' + str(i['percentage']) + '%' }}" style='flex: {{ i["net"] }};'></div>
        {% endif %}
    {% endfor %}
</div>

<script src=/static/portfolio.js></script>

<!-- <p>
    Click the element for a link to a breakdown
    of that individual element including date purchased
    and $ gained
    Duplicates of shares are shown
    because they were bought at different prices (dates)
    So you can compare how you are performing
    on that specific purchase (Combination of price and share)
</p> -->
{% endblock %}